@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch&family=Cute+Font&family=Poor+Story&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Chakra Petch', sans-serif;
    /* font-family: 'Cute Font', sans-serif; */
    /* font-family: 'Poor Story', system-ui; */
    text-decoration: none;
}

body {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    background: rgb(30, 30, 30);
    color: white;
}

header {
    width: 100%;
    height: 10vh;
    background: rgb(20, 20, 20);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 10px;
}
.logo {
    display: flex;
    align-items: center;
    gap: 10px;
}

.logo img {
    width: 70px;
}
.logo span {
    font-size: 1.3rem;
}

main {
    width: 100%;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 40px;
}
main a {
    font-size: 1.2rem;
    width: 170px;
    height: 50px;
    border-radius: 5px;
    background: rgb(20, 20, 20);
    color: rgb(0, 200, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .2s;
}

main a:hover {
    transform: translate(-8px, -8px);
    box-shadow: 8px 8px 5px rgb(50, 200, 170);
    cursor: pointer;
}
main a:active {
    transform: translate(0, 0);
    box-shadow: none;
}

main table {
    padding: 10px;
    text-align: center;
}
main table th {
    color: rgb(50, 200, 170);
    text-shadow: 0 0 5px rgb(50, 230, 200);
    transition: .5s;
    font-size: 1.3rem;
    border: 1px solid rgb(50, 200, 170);
    padding: 0 30px;
}
main table th:hover {
    color: rgb(0, 200, 255);
    text-shadow: rgb(0, 230, 255);
    border: 1px solid rgb(0, 200, 255);
}
main table td {
    color: rgb(0, 200, 255);
    font-size: 1.1rem;
    transition: .5s;
    border: 1px solid rgb(0, 200, 255);
    padding: 0 30px;
}
main table td:hover {
    color: rgb(50, 200, 170);
    border: 1PX solid rgb(50, 200, 170);
}


footer {
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60px;
    font-size: 1.2rem;
    background: rgb(10, 10, 10);
}

footer div {
    display: flex;
    gap: 20px;
}
footer div a {
    font-size: 1.5rem;
    transition: .5s;
    color: rgb(50, 200, 170);
}

footer div a:hover {
    transform: scale(1.2);
    color: rgb(0, 200, 255);

}