*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: rgb(166, 190, 194);
}

.conteiner{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
textarea {
  resize: none;
  border-radius: 3%;
}
