@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bakbak+One&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --poppins: 'Poppins', sans-serif;
    --bck-linear: linear-gradient(90deg, rgb(0, 0, 0) 0%, rgb(0, 0, 0) 100%);
    --white: #fff;
    --whitesmoke: whitesmoke;
    --black: black;
    --color1: rgb(117, 124, 231);
    --color2: rgb(245, 222, 16);  
    --Bakbak: "Bakbak One", sans-serif;
}

body{
    font-family: var(--Bakbak);
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 5px;
    background: var(--bck-linear)
}

body h2{
    color: var(--white)
}

main{
    background-color:var(--whitesmoke);
    padding: 10px;
    border-radius: 10px;
    width: 20%;
    /* max-width: 300px;
    min-width: 200px; */

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: 2rem;
    font-family: var(--poppins);
}

.content{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 80%;
}

.spn-qts{
    text-align: end;
}

.answers{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

button{
    width: 100%;
    text-align: start;
    padding: 5px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: var(--color1);
    color: var(--bck-linear);
}

button:hover{
    background-color: var(--color2);
}

.finish{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.finish button{
    text-align: center;
}